{% extends 'base.html' %}
{% block content %}
<div class="home">
    <h1>{{organizationname}}</h1>
    <h2>{{gamename}}</h2>
    <h2>{{date.day}}/{{date.month}}/{{date.year}}</h2>
    <h3>Fill the duration details</h3>
        <form action="" method="post" id="bookform" onsubmit="return checkTime()">
            {% csrf_token %}
            <p>
                {{form.start_time.label}}
                {{form.start_time}}
                {{form.hours.label}}
                <a style="background-color: #ffb3b3; padding: 5px; border: 1px solid black; cursor: pointer; " onclick="decHours()">-</a>
                {{form.hours}}
                <a style="background-color: #b3ffb3; padding: 5px; border: 1px solid black; cursor: pointer;" onclick="incHours()">+</a>
                {{form.minutes.label}}
                <a style="background-color: #ffb3b3; padding: 5px; border: 1px solid black; cursor: pointer; " onclick="decMinutes()">-</a>
                {{form.minutes}}
                <a style="background-color: #b3ffb3; padding: 5px; border: 1px solid black; cursor: pointer;" onclick="incMinutes()">+</a>
           </p>
            <input type="submit" value="Submit" class="btn btn-outline-primary">
        </form>
        <a onclick="checkPrice()">Check price</a>
        <div id="price"></div>
</div>
<script>
    function incHours() {
        let hours = document.querySelector('[name="hours"]');
        if  (hours.value > 11){
            alert("You cannot book for more than 12 hours")
        }
        else {
            hours.value++;
            console.log(hours.value);
        }
    }
    
    function decHours() {
        let hours = document.querySelector('[name="hours"]');
        if (parseInt(hours.value) > 0) {
            hours.value--;
        }
    
        else {
            alert("You can decrease up to 0")
        }
    }
    function incMinutes() {
        let minutes = document.querySelector('[name="minutes"]');
        let hours = document.querySelector('[name="hours"]');
        if  (minutes.value == 0){
            minutes.value = 30;
        }
        else if (minutes.value == 30 && hours.value == 12){
            alert("Maximum time increment reached")
        }
        else{
            minutes.value = 0
            hours.value++
        }
    }
    
    function decMinutes() {
        let minutes = document.querySelector('[name="minutes"]');
        let hours = document.querySelector('[name="hours"]');
        if  (minutes.value == 0 && hours.value == 0){
            alert("Maximum time decrement reached")
        }
        else if (minutes.value == 0){
            minutes.value = 30
            hours.value--
        }
        else{
            minutes.value = 0
        }
    }

    function checkTime() {
        let time_from_html = document.querySelector('[name="start_time"]')
        let hours = parseInt(time_from_html.value.slice(0,2))
        let minutes = parseInt(time_from_html.value.slice(-2))
        let duration_hours = parseInt(document.querySelector('[name="hours"]').value)
        let duration_minutes = parseInt(document.querySelector('[name="minutes"]').value)
        let total_minutes = hours*60 + minutes
        let booked_till = total_minutes + duration_hours*60 + duration_minutes
        if (total_minutes < parseInt('{{from_minutes}}')){
            alert("Location would not have opened yet")
            return false
        }
        else if (booked_till > parseInt('{{to_minutes}}')){
            alert("Location would have closed")
            return false
        }
        else{
            return true
        }
    }

    function checkPrice() {
        if (checkTime()){
            let duration_hours = parseInt(document.querySelector('[name="hours"]').value)
            let duration_minutes = parseInt(document.querySelector('[name="minutes"]').value)
            let total_minutes = duration_hours*60 + duration_minutes
            let price_per_30_min = parseInt('{{pricing}}')
            let total_price = (total_minutes/30)*price_per_30_min
            document.getElementById("price").innerHTML = "<h3>Rs."+total_price+"</h3>"
        }
    }
</script>
{% endblock %}