{% extends 'home.html' %}
{% block content %}
<div class="review">
    {% for location in all_locations %}
        <h1>{{location.location.address_line_1}} {{location.location.address_line_2}} {{location.location.area}} {{location.location.pincode}} {{location.location.phone_number}}</h1>
            <h2>Games</h2>
            <ul>
            {% for game in location.games %}
                <li><h3 style="font-size: medium;">{{game.game_type}}</h3>
                    <h4 style="font-size: small;">Pricing: {{game.pricing}}</h4> 
                    <h4 style="font-size: small;">Description: {{game.description}}</h4><li>
            {% endfor %}
            </ul>
            <h2>Amenities</h2>
                <ul>
                    <li>Parking: {{location.amenities.is_parking}}</li>
                    <li>Restrooms: {{location.amenities.is_restrooms}}</li>
                    <li>Changerooms: {{location.amenities.is_changerooms}}</li>
                    <li>Power Backup: {{location.amenities.is_powerbackup}}</li>
                    <li>Beverages: {{location.amenities.is_beverages_facility}}</li>
                    <li>Coaching: {{location.amenities.is_coaching_facilities}}</li>
                </ul>
                <h3>{{location.amenities.description}}</h3>
            <h2>Working Times</h2>
            <ul>
            {% for day in location.workingtimes %}
                <li>{{day.work_day_choices}} {{day.is_active}} {{day.from_time}} - {{day.to_time}}</li>
            {% endfor %}
            </ul>
    {% endfor %}
    <a href="{% url 'profile' %}" class="btn btn-outline-primary">Go back</a>
    <a href="{% url 'terms' %}" class="btn btn-outline-primary">Submit</a>
</div>
{% endblock %}