{% extends 'home.html' %}
{% block content %}
<div class="verify">
    <h1>{{object.organization_name}}</h1>
    <p>
        Phone: {{object.phone_number}}
        Alternate Phone: {{object.alt_number}}
        {{object.description}}
        {{object.created_date}}
    </p>
    {% for location in all_locations %}
        <hr>
        <h1>{{location.location.address_line_1}} {{location.location.address_line_2}} {{location.location.area}} {{location.location.pincode}} {{location.location.phone_number}}</h1>
            <h2>Games</h2>
            <ul>
            {% for game in location.games %}
                <li><h3 style="font-size: medium;">{{game.game_type}}</h3>
                    <h4 style="font-size: small;">Pricing: {{game.pricing}}</h4> 
                    <h4 style="font-size: small;">Description: {{game.description}}</h4><li>
            {% endfor %}
            </ul>
            <hr>
            <h2>Amenities</h2>
                <ul>
                    {% for amenity in location.amenities %}
                    <li>Parking: {{amenity.is_parking}}</li>
                    <li>Restrooms: {{amenity.is_restrooms}}</li>
                    <li>Changerooms: {{amenity.is_changerooms}}</li>
                    <li>Power Backup: {{amenity.is_powerbackup}}</li>
                    <li>Beverages: {{amenity.is_beverages_facility}}</li>
                    <li>Coaching: {{amenity.is_coaching_facilities}}</li>
                </ul>
                <h3>{{amenity.description}}</h3>
                {% endfor %}
            <hr>
            <h2>Working Times</h2>
            <ul>
            {% for day in location.workingtimes %}
                <li>{{day.work_day_choices}} {{day.is_active}} {{day.from_time}} - {{day.to_time}}</li>
            {% endfor %}
            </ul>
    {% endfor %}
    <hr>
    <a href="{% url 'statusset' %}?accepted={{True}}" class="btn btn-outline-primary">Approve</a>
    <a href="{% url 'statusset' %}?accepted={{False}}" class="btn btn-outline-primary">Reject</a>
</div>
{% endblock %}